normalized_questions.json
question.json

static/*
.venv/*

电工单选题.json
电工判断题.json
extracted_questions.json
kening_import.json
kening.json
instance/exam.db
.idea/*
__pycache__/*
question.html
extract_questions.py
